<script setup>
import { reactive } from "vue";
import Navbar from "../Navbar.vue";
import Footer from "../Footer.vue";
import { File } from "../../store/FileStore";
import axios from "axios";
const fileStore = File();
//LLAMAR A AXIOS PARA MOSTRAR REPOSITORIO POR LA ID DEL REPOSTORE

const file = reactive({
  title: "",
  description: "",
  extension: "",
  repoId: 0,
  error: [],
  create: () => {
    if (file.title == "") {
      file.error[0] = "Title is empty";
    }
    if (file.title != "") {
      file.error[0] = "";
    }
    if (file.description == "") {
      file.error[1] = "Description is empty";
    }
    if (file.description != "") {
      file.error[1] = "";
    }
    if (file.extension == ""){
      file.error[2] = "The file must have an extension";
    }
    if (file.extension != ""){
      file.error[2] = "";
    }

    if (file.title != "" && file.description != "" && file.extension != "") {
      file.error = [];

      const id = window.location.href;
      const result = id.split("/");
      file.repoId = result[result.length - 1];

      axios
        .post("http://192.169.13.71:3000/CreateFile", {
          title: file.title,
          description: file.description,
          extension: file.extension,
          id: file.repoId,
          headers: {
            Authorization: sessionStorage.getItem("token"),
          },
        })
        .then(function (response) {
          fileStore.chargeFile(response.data);
          alert("File was created Succesfully");
        })
        .catch(function (error) {
          console.log(error);
        });
    }
  },
});
</script>

<template>
  <div class="text-white">
    <Navbar title="Vue-project" v-bind:btn="['Home', 'About']" />
    <div class="my-10 mx-96 bg-[#1A1A40] p-4 rounded-lg">
      <h1 class="text-center my-10">TITULO DEL REPOSITORIO</h1>
      <form @submit.prevent="file.create" class="w-full max-w-lg ml-24">
        <div class="flex flex-wrap mx-3 mb-6">
          <div class="w-full px-3">
            <div class="grid grid-cols-2">
              <label
                class="ml-40 mt-3 block uppercase tracking-wide text-xs font-bold mb-2"
                for="grid-first-name"
                >title:</label
              >
              <input
                class="appearance-none block w-full rounded-lg p-2 bg-[#070c23] border-2 border-[#070c23]"
                id="grid-first-name"
                type="text"
                v-model="file.title"
                placeholder="File Name"
              />
            </div>
            <p class="text-red-600 italic ml-28" v-show="file.error[0]">
              {{ file.error[0] }}
            </p>
          </div>
        </div>
        <div class="flex flex-wrap mx-3 mb-6">
          <div class="w-full px-3">
            <div class="grid grid-cols-2">
              <label
                class="ml-28 mt-3 block uppercase tracking-wide text-xs font-bold mb-2"
                for="grid-password"
                >Description:</label
              >
              <textarea
                class="rounded-lg p-2 -mr-20 bg-[#070c23] border-2 border-[#070c23]"
                rows="5"
                cols="30"
                v-model="file.description"
                placeholder="Description"
              ></textarea>
            </div>
            <p class="text-red-600 mt-2 ml-28 italic" v-show="file.error[1]">
              {{ file.error[1] }}
            </p>
          </div>
        </div>
        <div class="flex flex-wrap mx-3 mb-6">
          <div class="w-full px-3">
            <div class="grid grid-cols-2">
              <label
                class="ml-28 mt-3 block uppercase tracking-wide text-xs font-bold mb-2"
                for="grid-password"
                >Extension:</label
              >
              <select
                v-model="file.extension"
                name="select"
                class="appearance-none block w-full rounded-lg p-2 bg-[#070c23] border-2 border-[#070c23]"
              >
                <option disabled value="">Please select one</option>
                <option value="js">JavaScript</option>
                <option value="php">PHP</option>
              </select>
            </div>
            <p class="text-red-600 mt-2 ml-28 italic" v-show="file.error[1]">
              {{ file.error[2] }}
            </p>
          </div>
        </div>
        <div class="flex flex-wrap mx-3 mb-2">
          <button
            type="submit"
            class="rounded-md p-3 mt-5 ml-52 bg-blue-800 transition duration-50 ease-out hover:bg-blue-500 hover:text-white"
          >
            Create File
          </button>
        </div>
      </form>
    </div>
    <Footer />
  </div>
</template>
