<script setup>
import { reactive } from "vue";
import router from "../../router/router.routes";
import axios from "axios";
import { loggedStore } from "../../store/useLogged";
import { User } from "../../store/UserStore";

// VUE STORE PINIA
const logged = loggedStore();
const userData = User();

//COMPONENT PROPERTY

const user = reactive({
  password: "",
  email: "",
  error: [],
  checkForm: () => {
    if (user.password === "") {
      user.error[0] = "Password is required";
    }
    if (user.password.length <= 6 && user.password.length > 0) {
      user.error[0] = "Password should be at least 6 characters";
    }
    if (user.password.length > 6) {
      user.error[0] = "";
    }
    if (user.email === "") {
      user.error[1] = "Email is required";
    }
    if (user.email !== "") {
      user.error[1] = "";
    }
    if (user.password !== "" && user.email !== "") {
      user.error = [];
    }

    if (user.error.length == 0) {
      axios
        .post("http://192.169.13.71:3000/LogIn", {
          password: user.password,
          email: user.email,
        })
        .then(function (response) {
          const dataError = response.data;
          if (dataError == "Incorrect password") {
            user.error[0] = dataError;
            user.error[1] = "";
          }

          if (dataError == "Invalid email") {
            user.error[0] = "";
            user.error[1] = dataError;
          }

          if (dataError == "User does not exist") {
            user.error[0] = "";
            user.error[1] = dataError;
          }

          if (user.error[0] == "" && user.error[1] == "") {
            user.error = [];
          }

          if (user.error.length == 0) {
            const data = response.data.data;
            const userReal = response.data.user;
            sessionStorage.setItem("token", data.token);
            sessionStorage.setItem("identifier", user.email);
            sessionStorage.setItem("identifierById", userReal.id);
            logged.changeLogged(true);
            userData.chargeUser(userReal);
            alert("Logged Success");
            router.push({
              path: "/Home",
            });
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    }
  },
});
</script>

<template>
  <div class="md:container md:mx-auto rounded-lg bg-white p-8">
    <form @submit.prevent="user.checkForm" class="w-full max-w-lg">
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3 transition hover:scale-105 duration-300">
          <label
            class="block uppercase tracking-wide text-xs font-bold mb-2"
            for="grid-email"
            >Email</label
          >
          <input
            class="appearance-none block w-full bg-slate-300 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-slate-200 focus:border-gray-500"
            id="grid-email"
            type="email"
            placeholder="youremail@email.com"
            v-model="user.email"
          />
          <p class="text-xs italic">Put your email here</p>
          <p class="text-red-600 italic" v-show="user.error[1]">
            {{ user.error[1] }}
          </p>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3 transition hover:scale-105 duration-300">
          <label
            class="block uppercase tracking-wide text-xs font-bold mb-2"
            for="grid-password"
            >Password</label
          >
          <input
            class="appearance-none block w-full bg-slate-300 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-slate-200 focus:border-gray-500"
            id="grid-password"
            type="password"
            placeholder="******************"
            v-model="user.password"
          />
          <p class="text-red-600 italic" v-show="user.error[0]">
            {{ user.error[0] }}
          </p>
        </div>
      </div>
      <button
        type="submit"
        class="rounded-md p-3 mt-8 mx-[200px] bg-white transition duration-50 ease-out hover:bg-blue-500 hover:text-white"
      >
        Log in
      </button>
    </form>
  </div>
</template>
