<script setup>
import { reactive } from "vue";
import axios from "axios";
import { User } from "../../store/UserStore";
import { Repo } from "../../store/RepoStore";

//PIMIA STORE
const userStore = User();
const repoStore = Repo();

const repo = reactive({
  title: "",
  id: 0,
  create: () => {
    console.log(repo.id);
    axios
      .post("http://192.169.13.71:3000/CreateRepository", {
        headers: {
          Authorization: sessionStorage.getItem("token")
        },
        title: repo.title,
        id: userStore.user.id,
      },
      )
      .then(function (response) {
        const data = response.data;
        console.log(data);
        repoStore.chargeRepo(data);
        repoStore.chargeRepos(data);
        alert(`Repository: ${data.title}`);
      })
      .catch(function (error) {
        console.log(error);
      });
  },
});
</script>

<template>
  <div>
    <div class="grid grid-cols-2 ml-24 mt-10">
      <div>
        <input
          class="ml-80 w-96 rounded-lg p-2 bg-[#070c23] border-2 border-[#070c23] border-b-blue-500 mt-1"
          type="text"
          v-model="repo.title"
          placeholder="Repositorie Name"
        />
      </div>
      <div>
        <button @click="repo.create" class="rounded-md bg-blue-500 p-3 w-32 ml-[180px]">
          Create
        </button>
      </div>
    </div>
  </div>
</template>
