<script setup>
import { reactive } from "vue";
import router from "../../router/router.routes";
import axios from "axios";
import { loggedStore } from "../../store/useLogged";
import { User } from "../../store/UserStore";

// VUE STORE PINIA
const logged = loggedStore();
const userData = User();

//USER
let mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;

const user = reactive({
  name: "",
  password: "",
  confirmPassword: "",
  email: "",
  error: [],
  checkForm: () => {
    if (user.name === "") {
      user.error[0] = "Name is required";
    }
    if (user.name !== "") {
      user.error[0] = "";
    }
    if (user.password === "") {
      user.error[1] = "Password is required";
    }
    if (user.password.length <= 6 && user.password.length > 0) {
      user.error[1] = "Password should be at least 6 characters";
    }
    if (user.password.length > 6) {
      user.error[1] = "";
    }
    if (user.confirmPassword === "") {
      user.error[2] = "Confirm password required";
    }
    if (user.confirmPassword !== "") {
      user.error[2] = "";
    }
    if (user.email === "") {
      user.error[3] = "Email is required";
    }
    if (mailformat.test(user.email) == false && user.email.length > 0) {
      user.error[3] = "Invalid Email";
    }
    if (user.email.length > 0 && mailformat.test(user.email) == true) {
      user.error[3] = "";
    }
    if (
      user.confirmPassword != user.password &&
      user.confirmPassword.length > 0
    ) {
      user.error[2] = "Passwords are not the same";
    }
    if (
      user.name !== "" &&
      user.password !== "" &&
      user.confirmPassword !== "" &&
      user.email !== "" &&
      user.confirmPassword == user.password
    ) {
      user.error = [];
    }
    if (user.error.length == 0) {
      //AXIOS FIREBASE
      axios
        .post("http://192.169.13.71:3000/Create", {
          name: user.name,
          password: user.password,
          email: user.email,
        })
        .then(function (response) {
          if (response.data === "User already exist") {
            user.error[3] = "User already exist";
          } else {
            alert("Register Success");
            const data = response.data.data;
            const userReal = response.data.user;
            sessionStorage.setItem("token", data._tokenResponse.idToken);
            sessionStorage.setItem("identifier", data.user.email);
            sessionStorage.setItem("identifierById", userReal.id);
            logged.changeLogged(true);
            userData.chargeUser(userReal);
            router.push({
              path: "/Home",
            });
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    }
  },
});
</script>

<template>
  <div class="md:container md:mx-auto rounded-lg bg-white p-8">
    <form @submit.prevent="user.checkForm" class="w-full max-w-lg">
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3 transition hover:scale-105 duration-300">
          <label
            class="block uppercase tracking-wide text-xs font-bold mb-2"
            for="grid-first-name"
            >username</label
          >
          <input
            class="appearance-none block w-full bg-slate-300 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-slate-200"
            id="grid-first-name"
            type="text"
            v-model="user.name"
            placeholder="Your Name"
          />

          <p class="text-red-600 italic" v-show="user.error[0]">
            {{ user.error[0] }}
          </p>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3 transition hover:scale-105 duration-300">
          <label
            class="block uppercase tracking-wide text-xs font-bold mb-2"
            for="grid-password"
            >Password</label
          >
          <input
            class="appearance-none block w-full bg-slate-300 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-slate-200 focus:border-gray-500"
            id="grid-password"
            type="password"
            placeholder="******************"
            v-model="user.password"
          />
          <p class="text-xs italic">
            Make it as long and as crazy as you'd like, minimum characters: 6
          </p>

          <p class="text-red-600 mt-2 italic" v-show="user.error[1]">
            {{ user.error[1] }}
          </p>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3 transition hover:scale-105 duration-300">
          <label
            class="block uppercase tracking-wide text-xs font-bold mb-2"
            for="grid-password"
            >Confirm Password</label
          >
          <input
            class="appearance-none block w-full bg-slate-300 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-slate-200 focus:border-gray-500"
            id="grid-password"
            type="password"
            placeholder="******************"
            v-model="user.confirmPassword"
          />

          <p class="text-red-600 mt-2 italic" v-show="user.error[2]">
            {{ user.error[2] }}
          </p>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3 transition hover:scale-105 duration-300">
          <label
            class="block uppercase tracking-wide text-xs font-bold mb-2"
            for="grid-email"
            >Email</label
          >
          <input
            class="appearance-none block w-full bg-slate-300 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-slate-200 focus:border-gray-500"
            id="grid-email"
            type="text"
            placeholder="youremail@email.com"
            v-model="user.email"
          />
          <p class="text-xs italic">Put your email here</p>

          <p class="text-red-600 mt-2 italic" v-show="user.error[3]">
            {{ user.error[3] }}
          </p>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-2">
        <button
          type="submit"
          class="rounded-md p-3 mt-8 mx-[200px] bg-white transition duration-50 ease-out hover:bg-blue-500 hover:text-white"
        >
          Sing Up
        </button>
      </div>
    </form>
  </div>
</template>
