<script setup>
import { onBeforeMount } from "vue";
import axios from "axios";
import { User } from "../store/UserStore";

defineProps({
  title: String,
});

const userList = User();

onBeforeMount(() => {
  axios.get("http://192.169.13.71:3000/Home").then((response) => {
    let data = response.data;
    if (userList.users.length == 0) {
      data.forEach((element) => {
        userList.chargeUsers(element);
      });
    }
  });
});

</script>

<template>
  <div class="text-white bg-[#1A1A40]">
    <aside>
      <h1 class="pt-8 mx-10 text-center pb-4 border-b-2">{{ title }}</h1>
      <div class="mx-8 mt-4 p-4 rounded-lg bg-[#1A374D]">
        <p>imagen del repositorio y nombre del respositorio</p>
      </div>
      <h1 class="border-t-2 border-b-2 mb-4 mt-4 mx-10 pt-4 pb-4 text-center">Users</h1>
      <div class="mt-4 mx-10 bg-[#1A374D] rounded-lg p-4">
        <p>Usuarios lista</p>
        <ul>
          <li v-for="user in userList.users">
            <p v-if="userList.user.name == user.name" class="text-green-500">{{ user.name }}</p>
            <p v-else>{{user.name}}</p>
          </li>
        </ul>
      </div>
    </aside>
  </div>
</template>
