<script setup>
defineProps({});

//Object Contact:
function Contact(author, rigths, socialMedia) {
  this.author = author;
  this.rights = rigths;
  this.socialMedia = socialMedia;

  this.setAuthor = (authorNew) => {
    this.author = authorNew;
  };

  this.setRights = (rightsNew) => {
    this.rights = rightsNew;
  };

  this.setSocialMedia = (socialMediaNew) => {
    this.socialMedia = socialMediaNew;
  };
}

let contact = new Contact("Gabriel", "CC all rights reserved", {
  facebook: {
    name: "Facebook",
    img: "../../src/assets/Facebook-logo.png",
    href: "https://es-es.facebook.com/",
  },
  instagram: {
    name: "Instagram",
    img: "../../src/assets/Instagram-Logo-PNG-File.png",
    href: "https://www.instagram.com/?hl=es",
  },
  twitter: {
    name: "Twitter",
    img: "../../src/assets/Twitter-logo.png",
    href: "https://twitter.com/?lang=es",
  },
  gitHub: {
    name: "GitHub",
    img: "../../src/assets/GitHub-logo.png",
    href: "https://github.com/",
  },
});
</script>

<template>
  <div>
    <footer class="px-2 sm:px-4 py-4 dark:bg-[#041C32] m text-white">
      <div
        class="grid grid-cols-3 gap-4 container flex flex-wrap justify-between items-center mx-auto"
      >
        <div class="text-center">
          <p>Author: {{ contact.author }}</p>
        </div>
        <div class="text-center">
          <p>{{ contact.rights }}</p>
          <p class="mt-3">Resources:</p>
          <a
            class="text-blue-500 text-center"
            href="https://www.freepik.es/vectores/avatar"
            >Vector de Avatar creado por stories - www.freepik.es</a
          >
        </div>
        <div class="w-24">
          <ul>
            <li class="mt-[8px]" v-for="social in contact.socialMedia">
              <a class="hover:text-green-500" target="blank" v-bind:href="social.href">
                <div class="grid grid-cols-2">
                  <img class="w-[2rem]" v-bind:src="social.img" alt="HolaMundo" />
                  <p class="mt-[3.5px]">{{ social.name }}</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</template>
