<script setup>
import { onBeforeMount, computed } from "vue";
import axios from "axios";
import Repositories from "../components/Repositories.vue";
import { User } from "../store/UserStore";
import { Repo } from "../store/RepoStore";

//COMPONENTS
import RepoFormulario from "./Formularios/RepoFormulario.vue";

const props = defineProps({
  title: String,
});

const userData = User();
const repoData = Repo();

onBeforeMount(() => {
  axios
    .get(
      `http://192.169.13.71:3000/Home/${sessionStorage.getItem("identifier")}`
    )
    .then((response) => {
      const data = response.data;
      userData.chargeUser(data);
      if (userData.user != null) {
        axios
          .get(`http://192.169.13.71:3000/LastRepo/${userData.user.id}`, {
            headers: {
              Authorization: sessionStorage.getItem("token"),
            },
          })
          .then((response) => {
            const data = response.data[0];
            repoData.chargeRepo(data);
          });
      }
    })
    .catch((error) => {
      console.log(error);
    });
});

const titleComputed = computed(() => {
  return props.title + " " + userData.user.name;
});
</script>

<template>
  <div class="text-white">
    <h1 class="text-5xl font-bold text-center mt-8">{{ titleComputed }}</h1>
    <div>
      <RepoFormulario />
      <h2 class="mt-8 ml-12">All activity</h2>
      <div class="mt-4 ml-12 flex items-center mb-3">
        <img class="w-14 h-14 rounded-full mr-2" :src="userData.user.image" alt="Avatar"/>
        <div>
          <strong>{{ userData.user.name }}</strong>
        </div>
      </div>
      <div
        v-if="repoData.repository != null"
        class="ml-12 mr-24 bg-[#1A1A40] p-4 rounded-lg"
      >
        <h2>{{ userData.user.name }} / {{ repoData.repository.title }}</h2>
        <p class="text-sm mt-4">
          Created at: {{ repoData.repository.createdAt }}
        </p>
      </div>

      <div class="border-t-2 mt-5 mx-4 mr-24">
        <h1 class="mt-10 ml-10">All Repositories</h1>
        <Repositories class="mb-10" />
      </div>
    </div>
  </div>
</template>
