<script setup>
import axios from "axios";
import { loggedStore } from "../store/useLogged";
import { User } from "../store/UserStore";
import { Repo } from "../store/RepoStore";
import { File } from "../store/FileStore";

// VUE STORE PINIA
const logged = loggedStore();
let user = User();
let repo = Repo();
let file = File();

// PROPS
defineProps({
  title: {
    type: String,
    default: "Navbar",
  },
  btn: {
    type: Array,
    default: ["Home", "About"],
  },
});

const signOut = () => {
  axios.get("http://192.169.13.71:3000/SignOut").then((response) => {
    logged.changeLogged(response.data);
    file.$reset();
    repo.$reset();
    user.$reset();
    sessionStorage.removeItem("token");
    sessionStorage.removeItem("identifier");
    sessionStorage.removeItem("identifierById");
  });
};
</script>

<template>
  <div>
    <nav class="px-2 sm:px-4 py-4 dark:bg-[#041C32]">
      <div class="container flex flex-wrap justify-between items-center mx-auto">
        <a href="Home" class="flex">
          <img class="mr-3 h-10" src="../assets/logo.png" alt="Logo from vue" />
          <span
            class="self-center text-lg font-semibold whitespace-nowrap dark:text-white"
            >{{ title }}</span
          >
        </a>
        <button
          data-collapse-toggle="mobile-menu"
          type="button"
          class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="mobile-menu-2"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-6 h-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"
            />
          </svg>
          <svg
            class="hidden w-6 h-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
        <div class="text-white hidden w-full md:block md:w-auto" id="mobile-menu">
          <ul
            class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium"
          >
            <li v-for="buttonNav in btn" :key="btn.id">
              <router-link
                :to="{ path: '/' + buttonNav }"
                v-slot="{ isActive, href, navigate }"
              >
                <a
                  :href="href"
                  @click="navigate"
                  :class="isActive ? 'text-green-500' : ''"
                  >{{ buttonNav }}</a
                >
              </router-link>
            </li>

            <span v-if="logged.islogged && user.user != null">
              <span class="mr-6" v-if="user != null">
                <router-link
                  :to="{ path: '/User' }"
                  v-slot="{ isActive, href, navigate }"
                >
                  <a
                    :href="href"
                    @click="navigate"
                    :class="isActive ? 'text-green-500' : ''"
                    >{{ user.user.name }}</a
                  >
                </router-link>
              </span>
              <span v-else></span>
              <button @click="signOut">Logout</button>
            </span>
            <span v-else>
              <router-link
                class="mr-8"
                :to="{ path: '/Sing Up' }"
                v-slot="{ isActive, href, navigate }"
              >
                <a
                  :href="href"
                  @click="navigate"
                  :class="isActive ? 'text-green-500' : ''"
                  >Sign Up</a
                >
              </router-link>
              <router-link :to="{ path: '/Login' }" v-slot="{ isActive, href, navigate }">
                <a
                  :href="href"
                  @click="navigate"
                  :class="isActive ? 'text-green-500' : ''"
                  >Login</a
                >
              </router-link>
            </span>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>
