<script setup>
import { onBeforeMount, reactive } from "vue";
import axios from "axios";
import { Repo } from "../store/RepoStore";
import { File } from "../store/FileStore";
import router from "../router/router.routes";

const repoData = Repo();
const fileStore = File();

onBeforeMount(() => {
  fileStore.$reset();
  //USER REPOS
  axios
    .get(
      `http://192.169.13.71:3000/ShowRepository/${sessionStorage.getItem(
        "identifierById"
      )}`
    )
    .then((response) => {
      let data = response.data;
      if (repoData.repositories.length == 0) {
        data.forEach((element) => {
          repoData.chargeRepos(element);
        });
      }

      axios.get("http://192.169.13.71:3000/ShowFile").then((response) => {
        const data = response.data;
        data.forEach((element) => {
          fileStore.chargeFiles(element);
        });
      });
    });
});

const repositoryForm = reactive({
  isEditing: null,
  title: "",
  edit: (id) => {
    if (repositoryForm.isEditing == null) {
      repositoryForm.isEditing = id;
    } else {
      repositoryForm.isEditing = null;
    }
    if (repositoryForm.title != "") {
      axios
        .post("http://192.169.13.71:3000/UpdateRepository", {
          title: repositoryForm.title,
          id: id,
          headers: {
            Authorization: sessionStorage.getItem("token"),
          },
        })
        .then(function (response) {
          const result = repoData.repositories.findIndex(
            (repositories) => repositories.id === id
          );
          repoData.orderRepos(result, response.data);
        })
        .catch(function (error) {
          console.log(error);
        });
    }
  },
  remove: (id) => {
    if (confirm("Are you sure you want to delete this repo?") == true) {
      const result = repoData.repositories.findIndex(
        (repositories) => repositories.id === id
      );

      repoData.orderReposEliminated(result);

      axios
        .post("http://192.169.13.71:3000/DeleteRepository", {
          id: id,
          headers: {
            Authorization: sessionStorage.getItem("token"),
          },
        })
        .then(function () {
          console.log("sucess");
        })
        .catch(function (error) {
          console.log("the error" + error);
        });
    }
  },
  see: (id) => {
    axios
      .get(`http://192.169.13.71:3000/ShowFileOne/${id}`)
      .then((response) => {
        fileStore.chargeFile(response.data);
      })
      .catch(function (error) {
        console.log(error);
      });

    router.push({
      path: "/File",
    });
  },
  removeFile: (id) => {
    if (confirm("Are you sure you want delete this file?") == true) {
      const result = fileStore.files.findIndex((file) => file.id === id);

      fileStore.orderFiles(result);

      axios
        .post("http://192.169.13.71:3000/DeleteFile", {
          id: id,
          headers: {
            Authorization: sessionStorage.getItem("token"),
          },
        })
        .then(function () {
          console.log("sucess");
        })
        .catch(function (error) {
          console.log(error);
        });
    }
  },
});
</script>

<template>
  <div>
    <ul class="mt-5">
      <li v-for="repo in repoData.repositories" :key="repo.id">
        <div class="ml-8 mt-5 bg-[#1A1A40] p-4 rounded-lg">
          <div class="grid grid-cols-2 mt-4 h-8">
            <h2
              class="ml-4 text-xl border-b-2 mr-[22rem]"
              v-if="repositoryForm.isEditing !== repo.id"
            >
              {{ repo.title }}
            </h2>
            <input
              v-else
              class="p-1 rounded-lg bg-[#070c23] border-2 border-[#070c23] border-b-blue-500 mt-1"
              :id="repo.id"
              type="text"
              v-model="repositoryForm.title"
              :placeholder="repo.title"
            />

            <router-link
              class="ml-96 p-2 rounded-lg bg-blue-500 text-white p-2 hover:bg-blue-800"
              :to="{ path: `/CreateFile/${repo.id}` }"
              v-slot="{ isActive, href, navigate }"
            >
              <a
                :href="href"
                @click="navigate"
                :class="isActive ? 'text-green-500' : ''"
                >Add files +</a
              >
            </router-link>
          </div>
          <p class="ml-3 mt-10">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
            quasi cumque tenetur, commodi modi a delectus, quia molestias
            accusantium quos quidem sunt. Ratione itaque dolorem recusandae
            quasi, accusantium magni voluptatibus!
          </p>
          <div class="grid grid-cols-12 mx-2">
            <table class="mt-8 rounded-lg bg-[#070c23] col-span-full">
              <tr>
                <th><h2 class="ml-5 mt-5 text-xl border-b-2">Files</h2></th>
              </tr>
              <tr v-for="file in fileStore.files">
                <td v-if="file.repoId === repo.id">
                  <div class="grid grid-cols-4">
                    <h3 class="ml-5 mt-3 text-xl">{{ file.title }}</h3>
                    <div class="flex items-center">
                      <h4>Extension:</h4>
                      <div class="ml-2">
                        <img
                          v-if="file.extension == 'js'"
                          class="w-8 h-8"
                          src="../assets/javascript.png"
                          alt="JavaScript logo"
                        />
                        <img
                          v-if="file.extension == 'php'"
                          src="../assets/php-logo.png"
                          alt="JavaScript logo"
                        />
                      </div>
                    </div>
                    <button
                      @click="repositoryForm.see(file.id)"
                      class="bg-blue-500 rounded-lg p-2 mx-2 my-2"
                    >
                      See
                    </button>
                    <button
                      @click="repositoryForm.removeFile(file.id)"
                      class="bg-red-500 rounded-lg p-2 mx-2 my-2"
                    >
                      Delete
                    </button>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="mt-4 mb-5 ml-2">
            <button
              @click="repositoryForm.remove(repo.id)"
              class="rounded-lg bg-red-500 text-white p-2 hover:bg-red-800"
            >
              🗑️ Delete
            </button>
            <button
              @click="repositoryForm.edit(repo.id)"
              class="rounded-lg bg-yellow-500 text-white p-2 ml-2 hover:bg-yellow-800"
            >
              ✏️ Update
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>
