<script setup>
import { loggedStore } from "./store/useLogged";
//HELPERS
import onAuthStateChange from "./assets/helpers/onAuthStateChange";

// VUE STORE PINIA
const logged = loggedStore();

logged.islogged = onAuthStateChange.loginStatus("token");

</script>

<template class="bg-[#070c23]">
  <router-view />
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #11193d;
}
</style>
