<script setup>
import Navbar from "../components/Navbar.vue";
import Footer from "../components/Footer.vue";
</script>

<template>
  <div>
    <Navbar title="Vue-project" v-bind:btn="['Home', 'About']" />
    <h1 class="text-white text-7xl font-bold text-center mt-32 mx-[500px]">
      Create your own software, save your own software
    </h1>
    <p class="text-2xl text-center mx-[400px] mt-6 text-[#7472d7]">
      Millions of users demand that a junior developer from Fuerteventura develop a web
      application made in Vue. I hear your prayers and for that, I have created it.
    </p>
    <div class="grid grid-cols-4 gap-4 mx-96 text-center mt-12 mb-12">
      <div>
        <h3 class="text-white text-xl">233+ million</h3>
        <p class="text-white text-sm">Developers</p>
      </div>
      <div>
        <h3 class="text-white text-xl">233+ million</h3>
        <p class="text-white text-sm">Developers</p>
      </div>
      <div>
        <h3 class="text-white text-xl">233+ million</h3>
        <p class="text-white text-sm">Developers</p>
      </div>
      <div>
        <h3 class="text-white text-xl">233+ million</h3>
        <p class="text-white text-sm">Developers</p>
      </div>
    </div>
    <Footer />
  </div>
</template>
