<script setup>
import Navbar from "../components/Navbar.vue";
import Footer from "../components/Footer.vue";
import Main from "../components/Main.vue";
import Aside from "../components/Aside.vue";
import { loggedStore } from "../store/useLogged";

// VUE STORE PINIA
const logged = loggedStore();
</script>

<template>
  <div>
    <Navbar title="Vue-project" v-bind:btn="['Home', 'About']" />

    <div class="grid grid-cols-4 gap-3" v-if="logged.islogged">
      <aside>
        <Aside title="Activity" />
      </aside>
      <main class="col-span-3">
        <Main title="Welcome to your repositories" />
      </main>
    </div>
    <div v-else class="main-container grid grid-cols-2 ml-8">
      <div>
        <h1 class="text-white text-6xl font-bold mt-8 text-center mt-56 mx-4">
          Create your own software, save your own software
        </h1>
        <p class="text-2xl mx-20 mt-6 text-[#7472d7]">
          Millions of users demand that a junior developer from Fuerteventura develop a
          web application made in Vue. I hear your prayers and for that, I have created
          it.
        </p>
        <form class="mt-6 mx-20" action>
          <div class="grid grid-cols-3 gap-2">
            <input
              class="bg-white p-3 pr-10 rounded-md col-span-2"
              type="text"
              placeholder="Email address"
            />
            <button class="text-white bg-green-500 rounded-md">
              Sign up for Vite-app
            </button>
          </div>
        </form>
      </div>

      <div>
        <img
          class="w-[750px] h-[750px]"
          src="../assets/globe.jpg"
          alt="Globo Terraqueo"
        />
      </div>
    </div>

    <Footer />
  </div>
</template>
