<script setup>
import Navbar from "../components/Navbar.vue";
import LoginFormulario from "../components/Formularios/LoginFormulario.vue";
import Footer from "../components/Footer.vue";
</script>

<template>
  <div>
    <Navbar title="Vue-project" v-bind:btn="['Home', 'About']" />
    <h1 class="text-[50px] text-center text-white font-bold mt-12 mb-8">Log-in</h1>
    <div class="container mx-auto flex items-center grid grid-cols-2">
      <!-- <div
        class="mx-8 2xl:mx-[575px] xl:mx-[450px] lg:mx-[325px] md:mx-[200px] sm:mx-[125px]"
      >-->
      <div class="mx-24 mb-24">
        <LoginFormulario name="Sign Up" />
      </div>
      <div class="mb-24">
        <img
          class="h-[500px] w-[550px] ml-24"
          src="../assets/login1.png"
          alt="login.jpg"
        />
      </div>
      <!-- </div> -->
    </div>
    <Footer />
  </div>
</template>
