<script setup>
import Navbar from "../components/Navbar.vue";
import Footer from "../components/Footer.vue";
</script>

<template>
  <div>
    <Navbar title="Vue-project" v-bind:btn="['Home', 'About']" />
    <h1 class="text-center text-4xl mt-[300px]">PAGE NOT FOUND 404</h1>
    <Footer />
  </div>
</template>
