<script setup>
import { reactive, watch } from "vue";
import Navbar from "../components/Navbar.vue";
import Footer from "../components/Footer.vue";
import axios from "axios";
import router from "../router/router.routes";
import { User } from "../store/UserStore";
import { loggedStore } from "../store/useLogged";
import { useRoute } from "vue-router";

//PINIA STORE
const userData = User();
const logged = loggedStore();

axios
  .get(`http://192.169.13.71:3000/Home/${sessionStorage.getItem("identifier")}`)
  .then((response) => {
    const data = response.data;
    userData.chargeUser(data);
  })
  .catch((error) => {
    console.log(error);
  });

function returnView() {
  router.push({ path: "/Home" });
}

const user = reactive({
  name: userData.user.name,
  img: "",
  edit: () => {
    if (user.img == "" && userData.user.image != null) {
      user.img = userData.user.image;
      axios
        .post("http://192.169.13.71:3000/Update", {
          name: user.name,
          email: userData.user.email,
          img: user.img,
          headers: {
            Authorization: sessionStorage.getItem("token"),
          },
        })
        .then(function (response) {
          const result = userData.users.findIndex(
            (users) => users.id === response.data.id
          );
          userData.orderUsersArray(result, response.data);
          alert('User updated');
        })
        .catch(function (error) {
          console.log(error);
        });
    } else {
      axios
        .post("http://192.169.13.71:3000/Update", {
          name: user.name,
          email: userData.user.email,
          img: user.img,
          headers: {
            Authorization: sessionStorage.getItem("token"),
          },
        })
        .then(function (response) {
          const result = userData.users.findIndex(
            (users) => users.id === response.data.id
          );
          userData.orderUsersArray(result, response.data);
          alert('User updated');
        })
        .catch(function (error) {
          console.log(error);
        });
    }
  },
  remove: () => {
    axios
      .post("http://192.169.13.71:3000/Delete", {
        email: sessionStorage.getItem("identifier"),
        headers: {
          Authorization: sessionStorage.getItem("token"),
        },
      })
      .then(function (response) {
        if (response.data) {
          sessionStorage.removeItem("token");
          sessionStorage.removeItem("identifier");
          sessionStorage.removeItem("identifierById");
          alert("Thanks for use our services");

          logged.islogged = false;
          userData.reset();
          router.push({
            path: "/Home",
          });
        }
      })
      .catch(function (error) {
        console.log(error);
      });
  },
});

console.log(userData.user.image);

watch(
  () => user.name,
  (newUser, oldUser) => {
    console.log(
      `User: ${user.name}, new User: ${newUser}, old User: ${oldUser}`
    );
  }
);
</script>

<template>
  <div>
    <Navbar title="Vue-project" v-bind:btn="['Home', 'About']" />
    <div
      v-if="logged.islogged"
      class="bg-white rounded-lg mx-[500px] p-10 my-24"
    >
      <img
        v-if="user.img == ''"
        class="rounded-full mx-[150px] mb-5 w-32 h-32"
        :src="userData.user.image"
        alt="vue"
      />
      <img
        v-else
        class="rounded-full mx-[150px] mb-5 w-32 h-32"
        :src="user.img"
        alt="Your profile"
      />
      <h1 class="text-center text-xl">{{ user.name }}</h1>
      <input
        class="border-blue-500 p-2 text-center border-2 ml-28 mt-2 rounded"
        type="text"
        v-model="user.name"
      />
      <input
        class="border-blue-500 block w-full border-2 text-gray-700 mt-2 rounded py-3 px-4 mb-3"
        type="text"
        placeholder="Put your URL image here"
        v-model="user.img"
      />

      <div class="grid grid-cols-2 gap-4 mt-6">
        <button
          type="submit"
          @click="user.remove"
          class="rounded-lg bg-red-500 text-white p-2 hover:bg-red-800"
        >
          🗑️ Delete
        </button>
        <button
          type="submit"
          @click="user.edit"
          class="rounded-lg bg-yellow-500 text-white hover:bg-yellow-800"
        >
          ✏️ Update
        </button>
      </div>
    </div>
    <div v-else>
      <button
        @click="returnView"
        class="bg-blue-500 text-white rounded-lg p-3 mx-[750px] my-[250px]"
      >
        Return
      </button>
    </div>
    <Footer />
  </div>
</template>
